@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Permanent+Marker&display=swap');


// DOLCE VITA FONT
@font-face {
  font-family: 'Dolce Vita';
  src: url('/assets/fonts/dolce_vita/Dolce Vita.ttf');
}

@font-face {
  font-family: 'Dolce Vita';
  src: url('/assets/fonts/dolce_vita/Dolce Vita Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Dolce Vita';
  src: url('/assets/fonts/dolce_vita/Dolce Vita Heavy Bold.ttf');
  font-weight: 700;
}

// FUTURA FONT
// @font-face {
//   font-family: 'Futura';
//   src: url('/assets/fonts/futura/futura light bt.ttf');
// }

// @font-face {
//   font-family: 'Futura';
//   src: url(/assets/fonts/futura/tt0205m_.ttf);
//   font-style: italic;
// }

// @font-face {
//   font-family: 'Futura';
//   src: url('/assets/fonts/futura/futura medium bt.ttf');
//   font-weight: 500;
// }

// @font-face {
//   font-family: 'Futura';
//   src: url('/assets/fonts/futura/Futura Medium Italic font.ttf');
//   font-weight: 500;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'Futura';
//   src: url('/assets/fonts/futura/Futura Bold font.ttf');
//   font-weight: 700;
// }

// @font-face {
//   font-family: 'Futura';
//   src: url('/assets/fonts/futura/Futura Bold Italic font.ttf');
//   font-weight: 700;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'Futura';
//   src: url('/assets/fonts/futura/Futura Light font.ttf');
//   font-weight: 300;
// }

// @font-face {
//   font-family: 'Futura';
//   src: url('/assets/fonts/futura/Futura Light Italic font.ttf');
//   font-weight: 300;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'Futura';
//   src: url('/assets/fonts/futura/Futura Book font.ttf');
//   font-weight: 350;
// }

// @font-face {
//   font-family: 'Futura';
//   src: url('/assets/fonts/futura/Futura Book Italic font.ttf');
//   font-weight: 350;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'Futura';
//   src: url('/assets/fonts/futura/Futura Heavy font.ttf');
//   font-weight: 800;
// }

// @font-face {
//   font-family: 'Futura';
//   src: url('/assets/fonts/futura/Futura Heavy Italic font.ttf');
//   font-weight: 800;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'Futura';
//   src: url('/assets/fonts/futura/Futura Extra Black font.ttf');
//   font-weight: 900;
// }

// @font-face {
//   font-family: 'Futura';
//   src: url('/assets/fonts/futura/Futura XBlk BT.ttf');
//   font-weight: 900;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'Futura Condensed';
//   src: url('/assets/fonts/futura/Futura-CondensedLight.otf');
//   font-weight: 300;
// }

// @font-face {
//   font-family: 'Futura Condensed';
//   src: url('/assets/fonts/futura/futura medium condensed bt.ttf');
//   font-weight: 500;
// }