body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  color: #1a1a1a;
  background: url(/assets/imgs/background.png), #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Permanent Marker', cursive;
  font-weight: 700;
}

h1 { font-size: 2.125rem; line-height: 1; }
h2 { font-size: 1.875rem; line-height: 1.067; }
h3 { font-size: 1.5rem; line-height: 1.083; }
h4 { font-size: 1.25rem; line-height: 1.1; }
h5 { font-size: 1.125rem; line-height: 1.111; }
h6 { font-size: 1rem; line-height: 1.125; }